* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index h1 {
    font-size: 60px;
    color: coral;
    text-align: center;
}

.index p {
    font-size: 20px;
    color: darkgreen;
    text-align: center;
    margin-top: 20px;    
}
